*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior:  smooth;
}
body{
    width:100%;
    background:white;
    color:#242053;
    font-family: 'Poppins', sans-serif;
}
@mixin display($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}