.chungtoi{
    margin-top:100px;
    .ct_top{
        max-width: 950px;
        margin:auto;
        height:75px;
        @include display(flex-start, center);
        p{
            margin-right:150px;
            height:100%;
            text-align:left;
            font-size: 32px;
            font-weight: 600;
            color:#afafaf;
            &:first-child{
                color: #242052;
                border-bottom: 3px solid #242052;
            }
        }
    }
    .ct_center{
        max-width:950px;
        margin:auto;
        @include display(flex-start, flex-start);
        flex-direction: column;
        margin-top:50px;
        h4{
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
            margin-bottom:30px;
        }
        span{
            margin:10px 0px;
            font-size: 24px;
            font-weight: 600;
            i{
                margin-right: 10px;
            }
        }
    }
    .banner_ct{
        width:100%;
        height:246px;
        background: url(../images/banner3.PNG);
        background-repeat: no-repeat;
        background-size:100% 200%;
        object-fit: cover;
        color:white;
        .bn_main{
            max-width:950px;
            margin:auto;
            height:100%;
            @include display(center,flex-start);
            flex-direction:column;
        }
        p{
            font-size: 40px;
            letter-spacing: 1px;
            line-height: 48px;
            font-weight: 700;
            text-transform: uppercase;
            font-style: italic;
            padding:20px 0px;
        }
        span{
            font-size: 18px;
            font-weight: 300;
        }
    }
    & > p{
        max-width:950px;
        margin:auto;
        text-align:center;
        margin-top:50px;
        margin-bottom:100px;
        font-size: 18px;
        font-weight: 300;
    }
}