.header{
    width:100%;
    &__main{
        max-width: 950px;
        margin:auto;
        width:100%;
        height:128px;
        margin-top: 60px;
        @include display(space-between, center);
        border-bottom: 2px solid #242053;
    }
    &__logo{
        width:265px;
        height:100%;
        padding:10px 20px;
        p{
            font-size: 65px;
            font-weight: bold;
            line-height: 0.8;
        }
        span{
            display:block;
            text-align:right;
            font-size: 40px;
            font-weight: 600;
        }
    }
    &__center{
        width:521px;
        height:100%;
        border-left:2px solid #242053;
        border-right:2px solid #242053;
        padding:10px;
        p{
            font-size: 20px;
            font-style: italic;
            font-weight: 700;
            line-height: 30px;
        }
        span{
            font-size: 13px;
            line-height: 0.7;
            font-weight: 300;
            margin-top:15px;
            color: #666666;
        }
    }
    &__right{
        width:160px;
        height:100%;
        padding-top:20px;
        text-align: center;
        select{
            width:100px;
            height:30px;
            margin-bottom: 20px;
        }
    }
    &__menu{
        max-width:950px;
        margin:auto;
        height: 37px;
        margin-top:20px;
        @include display(center, center);
        border-bottom:2px solid #242053;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            bottom:-8px;
            left:0px;
            width:100%;
            height:2px;
            background:#242053;

        }
        p{
            font-size: 14px;
            font-weight: 700;
            width:162px;
            height:100%;
            @include display(center, center)
        }
        .navbar{
            width:623px;
            height:100%;
            
            border-left:2px solid #242053;
            border-right:2px solid #242053;
            @include display(space-around, center);
            li{
                list-style: none;
                a{
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: none;
                    transition:0.3s linear;
                    color: #242053;
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }
        .login{
            width:161px;
            height:100%;
            font-size: 14px;
            font-weight: 700;
            @include display(center, center);
            a{
                text-decoration: none;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }
}
.banner{
    margin-top:40px;
    width:100%;
    height:600px;
    background: url(../images/banner2.PNG);
    background-repeat: no-repeat;
    background-size:100% 100%;
    &__main{
        max-width: 950px;
        height:100%;
        margin:auto;
        padding-top:100px;
        h3{
            width:470px;
            font-size: 68px;
            line-height: 79px;
            font-weight: 300;
            font-style: italic;
            color:white;
        }
        span{
            margin-top:20px;
            width:150px;
            height:35px;
            background:white;
            @include display(center,center);
            border:1px solid #cccccc;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            opacity: 0.7;
            cursor: pointer;
            transition:0.3s linear;
            &:hover{
                opacity: 1;
            }
        }
    }
}