.main{
    width:100%;
    padding-top:100px;
    &__desc{
        max-width:950px;
        margin:auto;
    }
    .caption1{
        width:625px;
        height:129px;
        display:block;
        margin:auto;
        margin-bottom:50px;
    }
    .image1{
        width:100%;
        height: 547px;
    }
    h3{
        font-size: 36px;
        line-height: 1.5;
        text-align:center;
    }
    p{
        margin-top:10px;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        width:100%;
        text-align:center;
    }
    .caption3{
        width:381px;
        height:41px;
        display:block;
        margin:auto;
        margin-top:80px;
    }
}
.caption4{
    width:298px;
    height: 42px;
    display:block;
    margin:auto;
    margin-top:150px;
}
.products__all{
    width:100%;
    margin-top: 50px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom:-50px;
        left:0px;
        width:100%;
        height: 325px;
        background:#cccccc;
        z-index: -1;
    }
}
.product__content{
    max-width:950px;
    height:457px;
    margin:auto;
    @include display(center,center);
}
.product{
    width:347px;
    @include display(flex-start, center);
    flex-direction: column;
    .pro_img{
        width:100%;
        height:258px;
        @include display(center,center);
        img{
            width:40%;
            height:90%;
        }
    }
    p{
        width:80%;
        margin:auto;
        margin-top:50px;
        font-size: 25px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
    }
    span{
        font-size: 16px;
        text-align:center;
        margin-top:10px;
    }
    .btn{
        margin-top:10px;
        width:134px;
        height:35px;
        border:1px solid #242052;
        color:#242052;
        font-weight: 700;
        background-color: transparent;
        font-size: 16px;
        @include display(space-evenly,center);
        transition:0.2s linear;
        i{
            font-size: 20px;
        }
    }
}

.blog{
    width:100%;
    display:block;
    margin-bottom:150px;
    &__all{
        max-width:950px;
        margin:auto;
        margin-top:70px;
        display: grid;
        grid-template-columns: 347px 347px 347px;
    }
    &__content{
        width:347px;
        height:465px;
        padding:0px 30px;
        @include display(flex-start,center);
        flex-direction: column;
        margin-bottom:50px;
        p{
            font-size: 18px;
            font-weight: 700;
            padding-left:20px;
            font-style: italic;
            display: block;
            text-align: left;
            margin-bottom:20px;
        }
        img{
            width:258px;
            height:258px;
        }
        span{
            font-size: 14px;
            font-weight: 450;
            line-height: 21px;
            padding:0px 20px;
            margin-top:20px;
            text-align:left;
        }
        button{
            width:100%;
            padding-left:20px;
            border:none;
            outline:none;
            font-size: 12px;
            text-align:left;
            margin-top:10px;
            color:#be946b;
            font-style: italic;
            font-weight: 700;
            background:transparent;
        }
    }
}
.icon__img{
    max-width:950px;
    margin:auto;
    display:block;
    img{
        width:523px;
        height:90px;
        display:block;
        margin:auto;
    }
}