.thanmen{
    max-width:950px;
    margin:auto;
    margin-top:60px;
    .tm_top{
        width:100%;
        height:500px;
        position:relative;
        img{
            position: absolute;
            right:-150px;
            top:0px;
        }
        p{
            font-size: 18px;
            font-weight: 700;
            padding-bottom:10px;
            position:relative;
            &:after{
                content: '';
                position:absolute;
                left:0px;
                bottom:0px;
                width:150px;
                height: 2px;
                background: #242052;
            }
        }
        h3{
            margin-top: 40px;
            font-size: 45px;
            color:#b0aeac;
            font-weight: 900;
            line-height: 1.2;
            width:375px;
        }
        & > span{
            display:block;
            width:300px;
            font-size: 20px;
            font-weight: 600;
            margin-top:40px;
        }
    }
}